@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body
{
    font-family: 'Rubik', sans-serif;
    background-color: #A8A8A8;
}
header
{
    margin: auto;
    background-color: #7C7C7C;
    width: 700px;
    height: 150px;
    display: flex;
}
img
{
    width: 150px;
    height: 150px;
}
#title
{
    margin-left: 100px;
    font-size: 50px;
}
div.container
{
    background-color: #929292;
    display: grid;
    margin: auto;
    grid-template-columns: auto auto auto;
    width: 700px;
    height: 400px;

}

div.error
{
    border: solid black 5px;
    margin: 20px auto;
    grid-template-columns: 1;
    background-color: #929292;
    width: 500px;
    height: 90px;
}

p.error
{
    text-align: center;
    font-size: 30px;
}


label
{
    font-size: 20px;
    margin: auto;
}

input
{
    margin: auto;
    width: 300px;
    height: 30px;
    font-size: 20px;
}


#button
{
    grid-column: 2;
    margin: auto;
    width: 150px;
    height: 50px;
    font-size: 18px;
}
table
{
    grid-column: 2;
    border: solid black 1px;
    padding: 20px;
}
td
{
    margin: auto;
    padding: 10px;
    border: solid black 1px;

}

#theader
{
    background-color: #7C7C7C;

}

@media  {
    
}