@import url('https://fonts.googleapis.com/css2?family=Iosevka+Charon+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body
{
    font-family: "Iosevka Charon Mono", sans-serif;
    margin: 0;
    background-color: #A8A8A8;
}
header
{
    margin: auto;
    background-color: #7C7C7C;
    width: auto;
    height: 150px;
    display: flex;
}
img#logo
{
    width: 100px;
    height: 100px;
    border: 5px solid black;
    margin: 25px;
    margin-right: 0px;
}
#title
{
    margin-left: 100px;
    font-size: 50px;
}
div.container
{
    margin: auto;
    display: grid;
    grid-template-columns: 1;
    background-color: #929292;
    width: auto;
    height: auto;
}

table
{
    border: solid black 1px;
}
td
{
    padding: 3px;
    border: solid black 1px;
}
tr:nth-child(even) {
    background-color: #7C7C7C;
}

#theader
{
    background-color: #7C7C7C;
}

div.button
{
    height: 100px;
}

input
{
    margin-left: 20px;
    margin-top: 12.5px;
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 5px;
}

#fornecedores
{
    background-image: url("../img/Imagens/FORNECEDORES.png");
    background-size: cover;
}
#clientes
{
    background-image: url("../img/Imagens/Clientes.png");
    background-size: cover;
}
#produtos
{
    background-image: url("../img/Imagens/Produtos.png");
    background-size: cover;
}
#servicos
{
    background-image: url("../img/Imagens/servicos.png");
    background-size: cover;
}
#veiculos
{
    background-image: url("../img/Imagens/veiculos.png");
    background-size: cover;
}